name: Bump Version

on:
  workflow_dispatch:
    inputs:
      part:
        description: 'Version part to bump'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
        default: 'patch'

permissions:
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest
    env:
      BUMPVERSION_ALLOW_DIRTY: "false"
      BUMPVERSION_COMMIT: "true"
      BUMPVERSION_TAG: "false"
      BUMPVERSION_PARSE: '(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)'
      BUMPVERSION_SERIALIZE: '{major}.{minor}.{patch}'
      BUMPVERSION_SEARCH: 'version={current_version}'
      BUMPVERSION_REPLACE: 'version={new_version}'
      BUMPVERSION_REGEX: "false"
      BUMPVERSION_IGNORE_MISSING_VERSION: "false"
      BUMPVERSION_IGNORE_MISSING_FILES: "true"
      BUMPVERSION_NO_CONFIGURED_FILES: "true"
      BUMPVERSION_MESSAGE: '[{new_version}] Release'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_ACTIONS_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install bump-my-version
        run: pip install bump-my-version

      - name: Bump version
        run: bump-my-version bump ${{ github.event.inputs.part }} eu-gryta-kmp-zebra/version.properties

      - name: Push changes
        run: git push
