name: Bump Version

on:
  workflow_dispatch:
    inputs:
      part:
        description: 'Version part to bump'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
        default: 'patch'

permissions:
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_ACTIONS_TOKEN }}
          fetch-depth: 0

      - name: Create empty requirements.txt
        run: touch requirements.txt

      - name: Bump version
        id: bump
        uses: callowayproject/bump-my-version@master
        env:
          BUMPVERSION_ALLOW_DIRTY: "false"
          BUMPVERSION_COMMIT: "true"
          BUMPVERSION_TAG: "false"
          BUMPVERSION_PARSE: '(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)'
          BUMPVERSION_SERIALIZE: '{major}.{minor}.{patch}'
          BUMPVERSION_SEARCH: 'version={current_version}'
          BUMPVERSION_REPLACE: 'version={new_version}'
          BUMPVERSION_REGEX: "false"
          BUMPVERSION_IGNORE_MISSING_VERSION: "false"
          BUMPVERSION_NO_CONFIGURED_FILES: "true"
          BUMPVERSION_MESSAGE: '[{new_version}] Release'
        with:
          args: ${{ github.event.inputs.part }} eu-gryta-kmp-zebra/version.properties
          github-token: ${{ secrets.GH_ACTIONS_TOKEN }}

      - name: Check version bump
        if: steps.bump.outputs.bumped == 'true'
        run: |
          echo "Version bumped from ${{ steps.bump.outputs.previous-version }} to ${{ steps.bump.outputs.current-version }}!"
